@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

* {
  box-sizing: border-box;
}
.rowC{
  margin-left: 3rem;
  display: flex; 
  flex-direction: row;
}

h1 {
  margin: 0;
  margin-top: 1.5rem;
  text-align: center;
  color:white;
  background-color: black;
}

#result h1{
  margin: 0;
  background: transparent;
  color: black;
}

h3 {
  font-size: x-large;
  text-align: center;
  margin:auto;
  width: 100%;
  padding: 1rem;
  color: black;
}

.squares {
  border: none;
  cursor: pointer;
  outline: none;
}

.board {
  margin: auto;
  padding-top: 1rem;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
  background: transparent;
  border: 1rem solid transparent;
}

.history {
  width: 320px;
  margin-left: 16px;
  display: grid;
  background-color: transparent;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.histbar{
  margin-right: 200px;
}

.setbar {
  width: 200px;
  height: 450px;
  border-radius: 1rem;
  display: block;
  background-color: #cdb4db;
}

#result{
  background-color: #83c5be;
  border-radius: 1rem;
  position: fixed;
  z-index: 1;
  padding: 2rem;
  display: grid;
  justify-content: center;
  width: 200px;
  height: 250px;
}

body {
  padding-top: 3rem;
  background: purple;
  color: white;
  font-family: "Benne", sans-serif;
  font-size: medium;
  display: flex;
}
