@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}
.rowC{
  display:flex; 
  flex-direction:row;
}

h1 {
  padding-top: 1rem;
  text-align: center;
  color:white;
}

h3 {
  text-align: center;
  margin:auto;
  padding: 1rem;
  color: white;
}

li {
  list-style: none;
}

.squares {
  border: none;
  cursor: pointer;
  outline: none;
}

.setbar{
  vertical-align: top; 
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  /* padding-right: 5rem; */
  /* margin: 0 auto; */
  /* width: 15rem; */
}

.info-wrapper button {
  background: black;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}

.info-wrapper {
  display: flex;
  background: grey;
  width: 320px;
  height: 300px;
  display: grid;
  grid-template: repeat(2, 0.5fr) / repeat(2, 0.5fr);
  gap: 0.5rem;
}

.board {
  margin: auto;
  background: black;
  border: 1rem solid black;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.main {
  /* width: '100%'; */
  background: black;
  margin-left: 4rem;
  border-radius: 2rem;
  vertical-align: top; 
  width: 20rem;
  padding-bottom: 2rem;
}

body {
  background-color: purple;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  min-height: 100vh;
  padding: 2rem;
}

