@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.rowC{
  padding-top: 5rem;
  display:flex; 
  flex-direction:row;
}

h1 {
  text-align: center;
  color: #ff9e00;
}

h3 {
  padding: 1rem;
}

li {
  list-style: none;
}

.X {
  color: #e85d04;
  font-size: 7rem;
}

.O {
  color: green;
  font-size: 7rem;
}

.info-wrapper button {
  background: black;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}

.info-wrapper {
  display: flex;
  padding-left: 10rem;
  justify-content: space-between;
}

.infobar{
  padding-right: 10rem;
  width: 20rem;
}

.squares {
  background: #ff97b7;
  border: none;
  cursor: pointer;
  outline: none;
}

.board {
  border: 1rem solid #ff97b7;
  background: #ff97b7;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

body {
  background-color: #4cc9f0;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  min-height: 100vh;
  padding: 2rem;
}